/* custom-scrollbar.css */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #1f2937; /* Adjust this color to match your background */
}

*::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Adjust this color to your preference */
    border-radius: 10px;
    border: 2px solid #1f2937; /* Adjust this color to match your background */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748; /* Darker shade for hover effect */
}
