@import './custom-scrollbar.css'; /* Import custom scrollbar styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html, body, #root {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Styles for animated stars */
.star {
    position: absolute;
    background: white;
    box-shadow: 0 0 10px white; /* Increase shadow for more glow */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: shootingStar 10s linear infinite;
    animation-fill-mode: forwards;
}

.star::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%; /* Adjust size for longer trail */
    height: 3px; /* Trail thickness */
    background: white;
    border-radius: 3px;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.7;
    filter: blur(2px);
    z-index: -1;
}

@keyframes shootingStar {
    0% {
        transform: translate(-100vw, -100vh);
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 100vh);
        opacity: 0;
    }
}

/* Hide scrollbar for desktop */
.hide-scrollbar {
    overflow: hidden;
}

/* Show scrollbar for mobile and tablet */
@media (max-width: 1024px) {
    .hide-scrollbar {
        overflow: auto;
        -ms-overflow-style: auto;  /* IE 10+ */
        scrollbar-width: auto;  /* Firefox */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: block;  /* Safari and Chrome */
    }
}

/* Additional adjustments for mobile devices */
@media (max-width: 768px) {
    .star {
        width: 6px;
        height: 6px;
    }

    .star::before {
        width: 400%;
        height: 4px;
    }
}

/* Additional styles for the navigation bar on mobile */
.header {
    background: linear-gradient(to bottom, #1a202c, #2d3748);
}

nav a {
    padding: 8px 16px;
}

button {
    padding: 8px;
    border: none;
    background: none;
}
