@import './custom-scrollbar.css'; /* Importa los estilos personalizados para la barra de desplazamiento */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene el desplazamiento horizontal */
}

html, body, #root {
    height: 100%;
}

.hide-scrollbar {
    overflow: hidden;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari y Chrome */
}

html {
    scroll-behavior: smooth;
}

/* Estilos para las estrellas animadas */
.star {
    position: absolute;
    width: 4px; /* Tamaño reducido para menor costo de renderizado */
    height: 4px;
    background: white;
    box-shadow: 0 0 5px white; /* Sombra reducida para menor costo de renderizado */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation-fill-mode: forwards;
}

.star::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* Tamaño reducido para menor costo de renderizado */
    height: 2px;
    background: white;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.5;
    filter: blur(1px);
    z-index: -1;
}

.star.fast::before {
    width: 300%; /* Ajustado para coincidir con el nuevo tamaño de estrellas */
    height: 2px;
    opacity: 0.7;
}

.star.slow::before {
    width: 150%; /* Ajustado para coincidir con el nuevo tamaño de estrellas */
    height: 2px;
    opacity: 0.5;
}

@keyframes shootingStar {
    0% {
        transform: translate(-100vw, -100vh);
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 100vh);
        opacity: 0;
    }
}
